{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('createAccount') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('createAccount') }}
{% endblock %}

{% block title %}Workout Place | Créert un compte{% endblock %}

{% block body %}

<section class="create">
    <h1>CRÉER UN COMPTE</h1>

    <div class="create-form">
        
    </div>
</section>

{% endblock %}