{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block title %}Workout Place | Accueil{% endblock %}

{% block body %}

<header style="background-image: url('{{ asset('build/images/home-header.jpg') }}');">
    <img src="{{ asset('build/images/WP-light-complete-logo.png') }}" alt="Logo Workout Place">
</header>

<section class="choose">
    <h1>POURQUOI NOUS CHOISIR ?</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laboriosam aliquam repellendus quos, dolorum accusantium, alias dolorem at repellat natus mollitia officiis, autem esse fuga similique quaerat exercitationem consequatur dicta!</p>
</section>

{% endblock %}
