<h1>Bienvenue chez Workout Place !</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>
    <br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
