/* -------------------------------------------------------- */
/* BASE DU SITE */
/* -------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    background-color: white;
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */
.navbar {
    background-color: #212121;
    width: 100%;
    height: 100px;
    position: fixed;
    margin-top: -100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}

.burger {
    display: none;
}

.mobile-nav {
    display: none;
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* "MOBILE" NAVBAR */
/* -------------------------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {

    .navbar {
        padding: 30px;
    }

    #navbar-logo img {
        height: 40px;
        width: auto;
    }

    .menu {
        display: none;
    }

    .burger {
        display: block;
        width: 40px;
        height: 40px;
        background-color: #D95D37;
        cursor: pointer;
        border: none;
        border-radius: 15px;
    }
    
    .burger .bar, .burger::after, .burger::before {
        content: '';
        display: block;
        width: 20px;
        height: 4px;
        background-color: white;
        margin: 3px 10px;
        border-radius: 5px;
        transition: 0.4s;
    }
    
    .burger.is-active::before {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    
    .burger.is-active::after {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    
    .burger.is-active .bar {
        opacity: 0;
    }
    
    .mobile-nav {
        display: block;
        position: fixed;
        top: 100px;
        left: 100%;
        width: 100%;
        height: auto;
        background-color: #D95D37;
        transition: 0.4s;
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
    
    .mobile-nav.is-active {
        left: 0;
    }

    .mobile-nav a {
        display: block;
        text-align: center;
        padding: 20px 30px;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        color: white;
    }

    .mobile-nav a:hover {
        background-color: white;
        color: #D95D37;
    }
    
    .mobile-nav a:active {
        background-color: white;
        color: #D95D37;
    }
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */
footer {
    background-color: #212121;
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover{
    color: #D95D37;
}

.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* -------------------------------------------------------- */




/* -------------------------------------------------------- */
/* "MOBILE" FOOTER */
/* -------------------------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    footer {
        padding: 30px;
    }
    
    .footer-links a:active{
        color: #D95D37;
    }

    .footer-icon .social-media a img {
        width: 30px;
        height: auto;
    }
    
    .footer-icon .social-media a img {
        margin: 0 3px;
    }
    
    .footer-icon #wp-footer-logo img {
        height: 30px;
        width: auto;
        margin-left: 30px;
    }

    .footer-links span {
        border: 1px solid white;
        display: inline-block;
        height: 30px;
        margin: 0 30px;
    }
}