@import url('app.css');

/* ---------------------------------------- */
/* CONTACT */
/* ---------------------------------------- */




/* ---------------------------------------- */
/* SECTION CONTACT */
/* ---------------------------------------- */
header {
    width: 100%;
    margin-top: 100px;
}

.contact {
    width: 100%;
    height: auto;
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" CONTACT */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    header {
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    header p {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
        padding-top: 100px;
    }

    .contact {
        padding: 30px;
    }

    .contact-intro {
        text-align: center;
        margin-bottom: 30px;
    }

    .contact-infos {
        width: 100%;
        height: auto;
        padding: 30px;
        background-color: #212121;
        border-radius: 15px;
    }

    .contact-infos h3 {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 16px;
        font-style: italic;
        color: white;
        margin-bottom: 10px;
    }

    .contact-infos p {
        text-align: left;
        color: white;
    }

    .contact-infos p:not(:last-child){
        margin-bottom: 25px;
    }
}
/* ---------------------------------------- */