@import url('app.css');

/* ---------------------------------------- */
/* REQUEST */
/* ---------------------------------------- */




/* ---------------------------------------- */
/* GLOBAL */
/* ---------------------------------------- */
.request {
  width: 100%;
  margin-top: 100px;
  height: auto;
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "DESKTOP" REQUEST */
/* ---------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 3440px) {
  .request {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .request h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
  }

  .request-form {
    width: 50%;
    height: auto;
    padding: 50px;
    background-color: #D95D37;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
  }

  .email-form {
    margin-bottom: 5px;
  }

  .email-form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
  }

  .email-legend {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .request-button {
    background-color: white;
    color: #D95D37;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .request-button:hover {
      background-color: #212121;
      color: white;
      box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
      transition: 0.5s;
  }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" REQUEST */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
  .request {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .request h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
  }

  .request-form {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: #D95D37;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
  }

  .email-form {
    margin-bottom: 5px;
  }

  .email-form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
  }

  .email-legend {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .request-button {
    background-color: white;
    color: #D95D37;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .request-button:active {
      background-color: #212121;
      color: white;
      box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
      transition: 0.5s;
  }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* RESET PASSWORD */
/* ---------------------------------------- */




/* ---------------------------------------- */
/* GLOBAL */
/* ---------------------------------------- */
.reset {
  width: 100%;
  margin-top: 100px;
  height: auto;
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "DESKTOP" RESET */
/* ---------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 3440px) {
  .reset {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .reset h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
  }

  .reset-form {
    width: 50%;
    height: auto;
    padding: 50px;
    background-color: #D95D37;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
  }

  .password-form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .reset-button {
    background-color: white;
    color: #D95D37;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .reset-button:hover {
      background-color: #212121;
      color: white;
      box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
      transition: 0.5s;
  }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" RESET */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
  .reset {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .reset h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
  }

  .reset-form {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: #D95D37;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
  }

  .password-form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .reset-button {
    background-color: white;
    color: #D95D37;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .reset-button:hover {
      background-color: #212121;
      color: white;
      box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
      transition: 0.5s;
  }
}
/* ---------------------------------------- */







/* ---------------------------------------- */
/* CHECK EMAIL */
/* ---------------------------------------- */




/* ---------------------------------------- */
/* GLOBAL */
/* ---------------------------------------- */
.check-email {
  width: 100%;
  margin-top: 100px;
  height: auto;
}

.check-email p a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  color: black;
}

.check-email p a:hover {
  color: #D95D37;
  transition: 0.5s;
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "DESKTOP" CHECK */
/* ---------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 3440px) {
  .check-email {
    padding: 50px;
    text-align: center;
  }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" CHECK */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
  .check-email {
    padding: 30px;
    text-align: center;
  }
}
/* ---------------------------------------- */