@import url('app.css');

/* ---------------------------------------- */
/* HOME */
/* ---------------------------------------- */




/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */
header {
    width: 100%;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" HEADER */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    header {
        height: 250px;
    }

    .desktop-header {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 499px) {
    .desktop-header {
        display: none;
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "DESKTOP" HEADER */
/* ---------------------------------------- */
@media screen and (min-width: 500px) and (max-width: 1440px) {
    header {
        display: none;
    }

    .desktop-header {
        width: 100%;
        margin-top: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
    }

    .desktop-header p img {
        width: 500px;
        height: auto;
    }

    .desktop-header p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }
}

@media screen and (min-width: 500px) and (max-width: 969px) {
    .desktop-header {
        height: 400px;
    }
    
    .desktop-header p img {
        width: 350px;
        height: auto;
    }

    .desktop-header p {
        padding-top: 150px;
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* SECTION CHOOSE */
/* ---------------------------------------- */
.choose {
    width: 100%;
}

#subscribe-button:hover {
    background-color: #212121;
    color: white;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" CHOOSE */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    .choose {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .choose h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 30px;
    }

    #choose-presentation {
        text-align: center;
        margin-bottom: 30px;
        color: black;
    }

    .choose-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #choose-card-1, #choose-card-2, #choose-card-3 {
        width: 100%;
        height: auto;
        background-color: #212121;
        border-radius: 15px;
        margin-bottom: 30px;
        padding: 30px;
    }

    #choose-card-1 p, #choose-card-2 p, #choose-card-3 p {
        color: white;
        text-align: center;
    }

    #title-1, #title-2, #title-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        color: white;
    }

    #title-1 img, #title-2 img, #title-3 img {
        width: 40px;
        height: auto;
        margin-right: 20px;
    }

    #title-1 h2, #title-2 h2, #title-3 h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }

    #subscribe-button {
        text-decoration: none;
        background-color: #D95D37;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 8px 16px;
        border-radius: 10px;
    }

    #subscribe-button:active {
        background-color: #212121;
        color: white;
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }

    #desktop-choose-card-1, #desktop-choose-card-2, #desktop-choose-card-3 {
        display: none;
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "DESKTOP" CHOOSE */
/* ---------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 1440px) {
    .choose {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .choose h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 50px;
    }

    #choose-presentation {
        text-align: center;
        color: black;
    }

    .choose-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    #choose-card-1, #choose-card-2, #choose-card-3 {
        display: none;
    }

    #desktop-choose-card-1, #desktop-choose-card-2, #desktop-choose-card-3 {
        width: 100%;
        height: 250px;
        background-color: #212121;
        border-radius: 15px;
        padding: 30px;
        margin-bottom: 50px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #desktop-choose-card-1 p, #desktop-choose-card-2 p, #desktop-choose-card-3 p {
        color: white;
        text-align: center;
    }

    #desktop-title-1, #desktop-title-2, #desktop-title-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        color: white;
    }

    #desktop-title-1 img, #desktop-title-2 img, #desktop-title-3 img {
        width: 40px;
        height: auto;
        margin-right: 20px;
    }

    #desktop-title-1 h2, #desktop-title-2 h2, #desktop-title-3 h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }

    #subscribe-button {
        text-decoration: none;
        background-color: #D95D37;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 10px 30px;
        border-radius: 10px;
    }

    #subscribe-button:active {
        background-color: #212121;
        color: white;
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* SECTION SPACES */
/* ---------------------------------------- */
.spaces {
    width: 100%;
    background-color: #D95D37;
}

.spaces h1, p {
    color: white;
}

#space-card-1:hover, #space-card-2:hover, #space-card-3:hover {
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}

#spaces-button:hover {
    background-color: #212121;
    color: white;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" SPACES */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    .spaces {
        padding: 30px;
    }

    .spaces h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 30px;
    }

    .spaces p {
        text-align: center;
        margin-bottom: 30px;
    }

    .spaces-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .spaces-cards a {
        text-decoration: none;
    }

    .spaces-cards a:active {
        opacity: 0.8;
    }

    #space-card-1, #space-card-2, #space-card-3 {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    #space-card-1:active, #space-card-2:active, #space-card-3:active {
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }

    #space-card-1 a, #space-card-2 a, #space-card-3 a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 80px 0;

        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
    }

    #spaces-button {
        text-decoration: none;
        background-color: white;
        color: #D95D37;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 8px 16px;
        border-radius: 10px;
    }

    #spaces-button:active {
        background-color: #212121;
        color: white;
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* SECTION COACH */
/* ---------------------------------------- */
.coach {
    width: 100%;
    background-color: #212121;
}

#coach-button:hover {
    background-color: white;
    color: #D95D37;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" COACH */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    .coach {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .coach h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 30px;
        color: white;
    }

    #coach-presentation {
        text-align: center;
        margin-bottom: 30px;
        color: white;
    }

    #coach-photo {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    #pilates, #body, #hiit {
        width: 100%;
    }

    #pilates h2, #body h2, #hiit h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        color: white;
    }

    #pilates span, #body span, #hiit span {
        border: 1px solid white;
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }

    #pilates p, #body p, #hiit p {
        margin-bottom: 30px;
    }

    #coach-button {
        text-decoration: none;
        background-color: #D95D37;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 8px 16px;
        border-radius: 10px;
    }

    #coach-button:active {
        background-color: white;
        color: #D95D37;
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* SECTION NEWS */
/* ---------------------------------------- */
.news {
    width: 100%;
}

#news-card-1:hover, #news-card-2:hover, #news-card-3:hover {
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}

#news-button:hover {
    background-color: #212121;
    color: white;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" NEWS */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    .news {
        padding: 30px;
    }
    
    .news h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 30px;
    }

    #news-presentation {
        text-align: center;
        margin-bottom: 30px;
        color: black;
    }

    .news-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .news-cards a {
        text-decoration: none;
    }

    .news-cards a:active {
        opacity: 0.8;
    }

    #news-card-1, #news-card-2, #news-card-3 {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    #news-card-1:active, #news-card-2:active, #news-card-3:active {
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }

    #news-card-1 a, #news-card-2 a, #news-card-3 a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 80px 0;

        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
    }

    #news-button {
        text-decoration: none;
        background-color: #D95D37;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 8px 16px;
        border-radius: 10px;
    }

    #news-button:active {
        background-color: #212121;
        color: white;
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */