@import url('app.css');

/* ---------------------------------------- */
/* COURS */
/* ---------------------------------------- */




/* ---------------------------------------- */
/* SECTION BASIC LESSONS */
/* ---------------------------------------- */
.basic-lessons {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.basic:hover {
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" BASIC LESSONS */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    .basic-lessons {
        padding: 30px 30px 0 30px;
    }

    .basic-lessons h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }

    .basic-lessons p {
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 30px;
    }

    .basic {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    .basic a {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 80px 0;
        text-decoration: none;
        color: white;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .basic:active {
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "DESKTOP" BASIC LESSONS */
/* ---------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 1440px) {
    .basic-lessons {
        padding: 50px 50px 0 50px;
    }

    .basic-lessons h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 5px;
    }

    .basic-lessons p {
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .basic {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        margin-bottom: 50px;
    }

    .basic a {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 110px 0;
        text-decoration: none;
        color: white;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .basic:hover {
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* SECTION PREMIUM LESSONS */
/* ---------------------------------------- */
.premium-lessons {
    width: 100%;
    height: auto;
    background-color: #D95D37;
}

.premium:hover {
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" PREMIUM LESSONS */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    .premium-lessons {
        padding: 30px 30px 30px 30px;
    }

    .premium-lessons h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
    }

    .premium-lessons p {
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 30px;
        color: white;
    }

    .premium:not(:last-child) {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -80%;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    .premium:last-child {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
    }

    .premium a {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 80px 0;
        text-decoration: none;
        color: white;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .premium:active {
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "DESKTOP" PREMIUM LESSONS */
/* ---------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 1440px) {
    .premium-lessons {
        padding: 50px;
    }

    .premium-lessons h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
        margin-bottom: 5px;
    }

    .premium-lessons p {
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-bottom: 50px;
        color: white;
    }

    .premium:not(:last-child) {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 15px;
        margin-bottom: 50px;
    }

    .premium:last-child {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 30%;
        border-radius: 15px;
    }

    .premium a {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding: 110px 0;
        text-decoration: none;
        color: white;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .premium:hover {
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* PAGE PAR COURS */
/* ---------------------------------------- */
header {
    width: 100%;
    margin-top: 100px;
}

.lessons-link:hover {
    background-color: white;
    color: #D95D37;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "MOBILE" PAGE PAR COURS */
/* ---------------------------------------- */
@media screen and (min-width: 340px) and (max-width: 480px) {
    header {
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    header p {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
        padding-top: 100px;
    }

    .lesson-content {
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .coach {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .coach img {
        width: 100px;
    }

    .coach h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: left;
    }

    .coach-name {
        color: #D95D37;
    }

    .lesson-description {
        text-align: center;
        margin-bottom: 30px;
    }

    .first {
        margin-bottom: 30px;
    }

    .first h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: left;
    }

    .horizontale-line {
        border: 1px solid black;
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }

    .first-time {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        color: #D95D37;
    }

    .second h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: right;
    }

    .second-time {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: right;
        color: #D95D37;
    }
    .others {
        width: 100%;
        height: auto;
        background-color: #D95D37;
        padding: 30px;
    }

    .first-line-coach {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .coach-link {
        text-decoration: none;
    }

    .coach-link img {
        width: 100px;
    }
    
    .coach-head {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .coach-head p {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
    }

    .second-line-coach {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }

    .lessons-link {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        background-color: #212121;
        width: 100%;
        padding: 8px 16px;
        border-radius: 10px;

        color: white;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center; 
    }

    .lessons-link img {
        width: 20px;
        rotate: 180deg;
        margin-right: auto;
    }

    .lessons-link:active {
        background-color: white;
        color: #D95D37;
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}
/* ---------------------------------------- */




/* ---------------------------------------- */
/* "DESKTOP" PAGE PAR COURS */
/* ---------------------------------------- */
@media screen and (min-width: 481px) and (max-width: 1440px) {
    header {
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    header p {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
        padding-top: 200px;
    }

    .lesson-content {
        width: 100%;
        height: auto;
        padding: 50px;
    }

    .coach {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        margin-bottom: 50px;
    }

    .coach img {
        width: 200px;
        margin-right: 20px;
    }

    .coach h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        margin-left: 20px;
    }

    .coach-name {
        color: #D95D37;
    }

    .lesson-description {
        text-align: center;
        margin-bottom: 50px;
    }

    .first {
        margin-bottom: 50px;
    }

    .first h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        text-align: left;
    }

    .horizontale-line {
        border: 1px solid black;
        display: inline-block;
        width: 100%;
        margin: 10px 0;
    }

    .first-time {
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        color: #D95D37;
    }

    .second h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        text-align: right;
    }

    .second-time {
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        text-align: right;
        color: #D95D37;
    }

    .others {
        width: 100%;
        height: auto;
        background-color: #D95D37;
        padding: 50px;
    }

    .first-line-coach {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .coach-link {
        text-decoration: none;
    }

    .coach-link img {
        width: 200px;
        margin-bottom: 5px;
    }

    .coach-head {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .coach-head p {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: white;
    }

    .second-line-coach {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }

    .lessons-link {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        background-color: #212121;
        width: 100%;
        padding: 10px 30px;
        border-radius: 10px;

        color: white;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center; 
    }

    .lessons-link img {
        width: 30px;
        rotate: 180deg;
        margin-right: auto;
    }

    .lessons-link:hover {
        background-color: white;
        color: #D95D37;
        box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
    }
}

@media screen and (min-width: 481px) and (max-width: 730px) {
    .first-line-coach {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .first-line-coach .coach-head:not(:last-child) {
        margin-bottom: 50px;
    }

    .second-line-coach {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .second-line-coach .coach-head:not(:last-child) {
        margin-bottom: 50px;
    }
}
/* ---------------------------------------- */