<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>

        <h1>Nouvelle demande de contact</h1>

        <p>Email : {{ contact.email }}</p>
        <br>
        <p>Sujet : {{ contact.subject }}</p>
        <br><br>
        <p>Message :</p>
        <p>{{ contact.message }}</p>
    </body>
</html>
